


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: #7EA3CC;
    }
    a{
        text-decoration: none;
    }
    .head{
        text-align: center;
        margin-top: 200px;
    }
    button{
        background-color: lightgreen;
        border-radius: 4px;
    }
</style>
<body>
       <div class="head">
        <h1>Sucessfully Logined</h1>
        <button><a href="/logout">Logout</a></button>
    </div>
</body>
</html>